.owner-properties-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 0.5rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  max-height: 70vh;
  overflow-y: auto;
}

.trash-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;
}

.trash-button:hover {
  color: #333;
}
